body {
    margin: 0;
}

#menu {
    width: 100%;
    min-height: 40px;
    background-color: black;
    position: fixed;
    top: 0;
}

li {
    display: inline-block;
    padding: 0px 10px;
}

#menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

#content {
    padding: 16px;
    margin-top: 30px;
    height: 1500px;
    /* Used in this example to enable scrolling */
}

#footer {
    min-height: 50px;
    width: 100%;
    background-color: red;
    position: fixed;
    bottom: 0;
}